@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Raleway:ital,wght@1,500&family=Readex+Pro&family=Silkscreen&display=swap');

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    /* height: 100vh; */
    background-color: rgb(48, 44, 44);
    font-family: 'Silkscreen', cursive;
    font-size: larger;
}

h1{
    color: rgb(162, 148, 211);
}

a{  
    width: 7%;
    height: 100px;
    padding: 25px 40px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color:azure;
    background-color:rgb(120, 154, 185);
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 95%;
    /* height: 13%; */
    margin: 20px;
}