@import url(https://fonts.googleapis.com/css?family=BenchNine:700);

body {
    background-color: #2e2b2b;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    font-size: 50px;
    margin-top: 30px;
    height: 40vh;
    color:#fff
}

#html{
    background-color: #cf4444;
}

#css{
    background-color: #58a7c7;
}

#js{
    background-color: #c2c03d;
}
.btn {
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'BenchNine', Arial, Helvetica, sans-serif;
    /* font-size: 1em; */
    font-size: 40px;
    line-height: 1em;
    margin: 15px 40px;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}

.btn::before,
.btn::after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
}

.btn::before {
    border-color:floralwhite;
    border-top-width: 2px;
    left: 0px;
    top: -5px;
}

.btn::after {
    border-color:floralwhite;
    border-bottom-width: 2px;
    right: 0px;
    bottom: -5px;
}

.btn:hover,
.btn.hover {
    background-color:floralwhite;
}

.btn:hover::after,
.btn.hover::after,
.btn:hover::before,
.btn.hover::before {
    height: 100%;
    width: 100%;
}