@import url(https://fonts.googleapis.com/css?family=BenchNine:700);

body {
    background-color: #212121;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

div {
    margin-top: 30px;
    height: 45vh;
    color: rgb(158, 173, 158);
}

.btn {
    background-color: darkgreen;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'BenchNine', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-size: 22px;
    line-height: 1em;
    margin: 15px 40px;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}

.btn::before,
.btn::after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
}

.btn::before {
    border-color: darkgreen;
    border-top-width: 2px;
    left: 0px;
    top: -5px;
}

.btn::after {
    border-color: darkgreen;
    border-bottom-width: 2px;
    right: 0px;
    bottom: -5px;
}

.btn:hover,
.btn.hover {
    background-color: darkgreen;
}

.btn:hover::after,
.btn.hover::after,
.btn:hover::before,
.btn.hover::before {
    height: 100%;
    width: 100%;
}